<!DOCTYPE html>
<html th:replace="~{layouts/base.html :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Book Management</title>
  </head>
  <body>
    <section class="h-full flex items-center justify-center">
      <div class="w-full max-w-6xl bg-white shadow-lg rounded-lg p-6">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-2xl font-semibold text-gray-800">Books List</h2>
          <a
            th:href="@{/books/create}"
            class="btn btn-primary bg-purple-600 text-white rounded-lg hover:bg-purple-700 px-4 py-2"
            >Create New Book</a
          >
        </div>
        <div class="overflow-x-auto max-h-96">
          <table class="table table-pin-rows w-full text-left bg-white rounded-lg shadow-lg">
            <thead class="bg-purple-200 text-purple-900">
              <tr>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">ISBN</th>
                <th class="px-4 py-2">Genre</th>
                <th class="px-4 py-2">Author</th>
                <th class="px-4 py-2">Editor</th>
                <th class="px-4 py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="book : ${books}" class="hover:bg-purple-100">
                <td class="border-t px-4 py-2" th:text="${book.title}">
                  Book Title
                </td>
                <td class="border-t px-4 py-2" th:text="${book.ISBN}">ISBN</td>
                <td
                  class="border-t px-4 py-2"
                  th:text="${book.genre.description}"
                >
                  Genre
                </td>
                <td class="border-t px-4 py-2" th:text="${book.author.name}">
                  Author
                </td>
                <td class="border-t px-4 py-2" th:text="${book.editor.name}">
                  Editor
                </td>
                
                <td class="border-t px-4 py-2 flex space-x-2 h-full">
                  <a
                    th:href="@{/books/edit/{id}(id=${book.id})}"
                    class="btn btn-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600"
                    >Edit</a
                  >
                  <a
                    th:href="@{/books/delete/{id}(id=${book.id})}"
                    onclick="return confirm('Are you sure?')"
                    class="btn btn-sm bg-red-500 text-white rounded-lg hover:bg-red-600"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
