<!DOCTYPE html>
<html th:replace="~{layouts/base.html :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Search Books</title>
  </head>
  <body>
    <section class="h-full flex">
      <form
        th:action="@{/books/search}"
        th:object="${searchOptions}"
        method="get"
        class="w-full grid md:grid-cols-5 gap-4 x-1 p-4 xl:m-8"
      >
        <input type="hidden" th:field="*{keyword}" />

        <div class="md:col-span-1">
          <div
            class="p-3 xl:w-fit w-full rounded-box flex justify-between flex-col items-center gap-4 bg-purple-200/30 p-0 xl:p-4 w-fit mb-8"
          >
            <!-- Editors Filter -->
            <ul
              class="menu w-full rounded-box drop-shadow-xl w-32 xl:w-56 bg-gradient-to-r from-fuchsia-100 to-purple-100"
            >
              <li>
                <h2 class="menu-title">Editors</h2>
                <select
                  th:field="*{editor}"
                  class="select select-bordered w-full md:max-w-xs bg-transparent"
                  onchange="this.form.submit()"
                >
                  <option value="" selected>All</option>
                  <option
                    th:each="editor : ${editors}"
                    th:value="${editor.id}"
                    th:text="${editor.name}"
                  ></option>
                </select>
              </li>
            </ul>

            <!-- Genres Filter -->
            <ul
              class="menu w-full rounded-box drop-shadow-xl w-32 xl:w-56 bg-gradient-to-r from-fuchsia-100 to-purple-100"
            >
              <li>
                <h2 class="menu-title">Genres</h2>
                <select
                  th:field="*{genre}"
                  class="select select-bordered w-full md:max-w-xs bg-transparent"
                  onchange="this.form.submit()"
                >
                  <option value="" selected>All</option>
                  <option
                    th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.description}"
                  ></option>
                </select>
              </li>
            </ul>

            <!-- Authors Filter -->
            <ul
              class="menu w-full rounded-box drop-shadow-xl w-32 xl:w-56 bg-gradient-to-r from-fuchsia-100 to-purple-100"
            >
              <li>
                <h2 class="menu-title">Authors</h2>
                <select
                  th:field="*{author}"
                  class="select select-bordered w-full md:max-w-xs bg-transparent"
                  onchange="this.form.submit()"
                >
                  <option value="" selected>All</option>
                  <option
                    th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name}"
                  ></option>
                </select>
              </li>
            </ul>
          </div>
        </div>

        <!-- Books List -->
        <div class="md:col-span-4 p-0 xl:p-5">
          <div class="flex flex-col h-full justify-between">
            <!-- Search Options -->
            <div
              id="search-opts"
              class="flex flex-row flex-wrap gap-3 justify-between items-center mb-8"
            >
              <!-- Sort Dropdown -->
              <div class="flex items-center gap-3 w-fit lg:w-full max-w-xs">
                <i class="fa-solid fa-sort"></i>
                <select class="select select-bordered w-fit lg:w-full">
                  <option disabled selected>Sort</option>
                  <!-- <option
                      th:each="option : ${#arrays.asList('title', 'author', 'publishDateAsc', 'publishDateDesc')}"
                      th:value="@{/books/search(sort=${option})}"
                      th:text="${option}"
                    ></option> -->
                </select>
              </div>

              <!-- Page Size Dropdown -->
              <div class="flex items-center gap-3 w-fit lg:w-full max-w-xs">
                <i class="fa-solid fa-expand gap-2"></i>
                <select
                  name="pageSize"
                  class="select select-bordered w-fit lg:w-full"
                  onchange="this.form.submit()"
                  th:field="*{pageSize}"
                >
                  <option th:value="20">20 per page</option>
                  <option th:value="40">40 per page</option>
                  <option th:value="60">60 per page</option>
                </select>
              </div>

              <div class="w-full md:w-auto"></div>

              <!-- Query Result Count -->
              <p><b th:text="${totalItems}">0</b> items</p>

              <div role="tablist" class="tabs tabs-bordered">
                <a role="tab" class="tab tab-active"
                  ><i class="fa-solid fa-table-cells-large"></i
                ></a>
                <a role="tab" class="tab"
                  ><i class="fa-solid fa-list-ul"></i>
                </a>
              </div>
            </div>

            <!-- Card Grid -->
            <div
              class="h-full mb-8 grid gap-4 lg:gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
            >
              <!-- Single Card -->
              <div
                th:each="book : ${books.getContent()}"
                class="h-fit card rounded shadow-lg shadow-gray-200 bg-white min-w-0"
              >
                <figure>
                  <img
                    th:src="${book.image}"
                    alt="Book Cover"
                    class="xl:h-48 md:h-32 h-48 md:h-16 object-contain md:object-scale-down"
                  />
                </figure>
                <div class="card-body xl:p-8 md:p-2">
                  <div class="tooltip" th:data-tip="${book.title}">
                    <h2
                      class="font-semibold text-xs lg:text-base  overflow-hidden   truncate"
                      th:text="${book.title}"
                    ></h2>
                  </div>
                  <p
                    th:text="${book.synopsis}"
                    class="text-xs lg:text-base   overflow-hidden  truncate"
                  ></p>
                  <div class="card-actions justify-end">
                    <a
                      class="btn bg-purple-200 btn-sm xl:btn-md"
                      th:href="@{/books/edit/{id}(id=${book.id})}"
                    >
                      <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a
                      class="btn bg-purple-400 btn-sm xl:btn-md"
                      th:href="@{/books/edit/{id}(id=${book.id})}"
                    >
                      <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                    <a
                      class="btn btn-error btn-sm xl:btn-md"
                      th:href="@{/books/edit/{id}(id=${book.id})}"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <div class="join self-center">
              <button
                type="submit"
                class="join-item btn"
                th:if="${books.hasPrevious()}"
                th:value="*{page - 1}"
                name="page"
              >
                «
              </button>

              <!-- Current Page Display -->
              <span class="join-item btn no-animation">
                Page <span th:text="*{page}"></span>
              </span>

              <!-- Next Page Button -->
              <button
                type="submit"
                class="join-item btn"
                th:if="${books.hasNext()}"
                th:value="*{page + 1}"
                name="page"
              >
                »
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
