<!DOCTYPE html>
<html th:replace="~{layouts/base.html :: layout(~{::title}, ~{::section})}">
<head>
    <title>Create Author</title>
</head>
<body>
    <section class="h-full flex items-center justify-center">
        <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6">Create Author</h2>
            <div th:replace="~{fragments/form :: form('/authors/create', 'author', ~{::#content})}">
                <div id="content">
                    <div class="mb-4 form-control w-full">
                        <div class="label">
                            <span class="label-text">Name</span>
                        </div>
                        <input type="text" th:field="*{name}" id="name" class="input input-bordered w-full" />
                        <p class="text-red-500 text-xs mt-1" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
                    </div>
                    
                    <div class="mb-4 form-control w-full">
                        <div class="label">
                            <span class="label-text">Country</span>
                        </div>
                        <input type="text" th:field="*{country}" id="country" class="input input-bordered w-full"/>
                        <p class="text-red-500 text-xs mt-1" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</p>
                    </div>

                    <div class="mb-4 form-control w-full">
                        <div class="label">
                            <span class="label-text">Birth date</span>
                        </div>
                        <input type="date" th:field="*{birthDate}" id="birthDate" class="input input-bordered w-full"/>
                        <p class="text-red-500 text-xs mt-1" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date error</p>
                    </div>

                    <div class="flex justify-end mt-6">
                        <button type="submit" class="w-full py-3 bg-purple-600 text-white rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 font-bold">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
