<!DOCTYPE html>
<html th:replace="~{layouts/base.html :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Create User</title>
  </head>
  <body>
    <section class="md:h-full flex items-center justify-center">
      <div class="md:h-auto h-full w-full max-w-4xl bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Create User</h2>
        <div
          th:replace="~{fragments/form :: form('/users/create', 'user', ~{::#content})}"
        >
          <div id="content" class="h-max-96 form-section">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">
              <!-- Column 1 -->
              <div>
                <div class="mb-4 form-control w-full">
                  <div class="label">
                    <span class="label-text">Name</span>
                  </div>
                  <input
                    type="text"
                    th:field="*{name}"
                    id="name"
                    class="input input-bordered w-full"
                  />
                  <p
                    class="text-red-500 text-xs mt-1"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                  >
                    Name error
                  </p>
                </div>

                <div class="mb-4 form-control w-full">
                  <div class="label">
                    <span class="label-text">Email</span>
                  </div>
                  <input
                    type="email"
                    th:field="*{email}"
                    id="email"
                    class="input input-bordered w-full"
                  />
                  <p
                    class="text-red-500 text-xs mt-1"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                  >
                    Email error
                  </p>
                </div>
              </div>

              <!-- Column 2 -->
              <div>
                <div class="mb-4 form-control w-full">
                  <div class="label">
                    <span class="label-text">Password</span>
                  </div>
                  <input
                    type="password"
                    th:field="*{password}"
                    id="password"
                    class="input input-bordered w-full"
                  />
                  <p
                    class="text-red-500 text-xs mt-1"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"
                  >
                    Password error
                  </p>
                </div>

                <div class="mb-4 form-control w-full">
                  <div class="label">
                    <span class="label-text">User Type</span>
                  </div>
                  <select
                    th:field="*{userType}"
                    id="userType"
                    class="input input-bordered w-full"
                  >
                    <option value="" selected>Select a user type</option>
                    <option
                      th:each="type : ${userTypes}"
                      th:value="${type}"
                      th:text="${type}"
                    ></option>
                  </select>
                  <p
                    class="text-red-500 text-xs mt-1"
                    th:if="${#fields.hasErrors('userType')}"
                    th:errors="*{userType}"
                  >
                    User type error
                  </p>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end mt-6">
              <button
                type="submit"
                class="w-full py-3 bg-purple-600 text-white rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 font-bold"
              >
                <span>Submit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
