@font-face {
  font-family: 'ChiantiWin95BT';
  src: url('/fonts/chiantibt_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.brand-font {
  font-family: 'ChiantiWin95BT', sans-serif;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
