@font-face {
    font-family: 'ChiantiWin95BT';
    src: url('/fonts/chiantibt_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.custom-font {
    font-family: 'ChiantiWin95BT', sans-serif;
}
