<!DOCTYPE html>
<html th:replace="~{layouts/base.html :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Editor Management</title>
  </head>
  <body>
    <section class="h-full flex items-center justify-center">
      <div class="w-full max-w-6xl bg-white shadow-lg rounded-lg p-6">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-2xl font-semibold text-gray-800">Editors List</h2>
          <a
            th:href="@{/editors/create}"
            class="btn btn-primary bg-purple-600 text-white rounded-lg hover:bg-purple-700 px-4 py-2"
            >Create New Editor</a
          >
        </div>
        <div class="overflow-x-auto max-h-96">
          <table class="table table-pin-rows w-full text-left bg-white rounded-lg shadow-lg">
            <thead class="bg-purple-200 text-purple-900">
              <tr>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="editor : ${editors}" class="hover:bg-purple-100">
                <td class="border-t px-4 py-2" th:text="${editor.name}">
                  Editor Name
                </td>
                <td class="border-t px-4 py-2 flex space-x-2 h-full">
                  <a
                    th:href="@{/editors/edit/{id}(id=${editor.id})}"
                    class="btn btn-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600"
                    >Edit</a
                  >
                  <a
                    th:href="@{/editors/delete/{id}(id=${editor.id})}"
                    onclick="return confirm('Are you sure?')"
                    class="btn btn-sm bg-red-500 text-white rounded-lg hover:bg-red-600"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
